@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

:root {
  /* Core / Grayscale */
  --color-white: #ffffff;
  --color-gray-100: #fafafa;
  --color-gray-200: #e1e1e6;
  --color-gray-300: #92929a;
  --color-gray-400: #585860;
  --color-gray-500: #2a2a2d;
  --color-gray-600: #1c1c22;
  --color-gray-700: #121216;
  --color-gray-800: #0b0b0e;

  /* Feedback */
  --color-danger-light: #e77482;
  --color-danger-low: #360f14;
  --color-alert-light: #deb55e;
  --color-alert-low: #281f0b;
  --color-background-section-light: #41d0d8;
  --color-background-section-dark: #0a2324;

  /* Accent */
  --color-green-light: #71d697;
  --color-green-base: #30a65d;

  /* Fonts (project) */
  --font-normal: "Inter-Regular";
  --font-semibold: "Inter-SemiBold";
  --font-bold: "Sora-Bold";
}
@media android {
  :root {
    /* Fonts (project) */
    --font-normal: "Inter-Regular";
    --font-semibold: "Inter-SemiBold";
    --font-bold: "Sora-Bold";
  }
}

@media ios {
  :root {
    /* Fonts (project) */
    --font-normal: "Inter-Regular";
    --font-semibold: "Inter-SemiBold";
    --font-bold: "Sora-Bold";
  }
}

:root,
html,
body {
  height: 100%;
}

div#root {
  height: 100%;
  display: flex;
}
